#toggles {
  margin-bottom: 15%;
  max-width: 10%;
  padding-top:10%;
  margin-left: 5%;
  padding-bottom: 10%;
  max-height: 20%;
  display: inline;
  background-color: #DFD7CA;
  border-radius: 40%;

  :hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

  img {
    margin-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

#graph {
  margin-left: 2%;
}

#building-display-panel{
  margin-top: 30px;
}


