#building-filter {
  div {
    display: table-row;
    .form-group {
      display: table-cell;
      width: 100%;
    }
    .btn-group {
      display: table-cell;
      width: 100%;
    }
  }
  margin-bottom: 15px;
}

#building-list {
  background-color: transparent;
  margin-bottom: 20px;
  margin-outside: 20px;
  height: 350px;
}

#building-list-panel{
  margin-top: 30px;
  height: 25%;
  box-shadow: 0 0 50px #CCCCCC;
}

#building-scroll {
  overflow-x: hidden !important;
  overflow-y: auto;
}

#graph-panel {
  margin-top: 30px;
}

#graph-alignment {
  width:100%;
}

#tip-panel{
  outline: none;
  box-shadow: 0 0 50px #CCCCCC;
}

.checked-list-item {
  display: table;
  span {
    display: table-cell;
    width: auto;
  }
  a {
    display: table-cell;
    width: 100%;
  }
}
