#toggles {
  max-width: 10%;
  margin: 25% 0 15% 10%;
  padding: 25px 25px 25px 25px;
  max-height: 20%;
  display: table;
  background-color: #DFD7CA;
  border-radius: 3px;

  @media (max-width: 992px) {
    max-width: 100%;
    margin: 0 0 15px 35%;
    padding: 15px 25px 15px 25px;
  }

  :hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

#graph {
  margin-left: 2%;
}

#building-display-panel{
  margin-top: 30px;
}


