.toggles {
  max-width: 100%;
  margin: 5% auto 5% auto;
  max-height: 100%;
  display: table;

  @media (max-width: $screen-md) {
    max-width: 100%;
    margin: 0 auto 15px auto;
    padding: 15px 25px 15px 25px;
  }

  @media (max-width: 350px) {
    img {
      width: 50px;
    }
  }
}

#graph {
  margin-left: 2%;

  @media (max-width: $screen-sm) {
    max-width: 100%;
  }
}

#electricity-panel-background {
  background: url(../images/electricity-background.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100% 100%;
}

#gas-panel-background {
  background: url("../images/gas-background.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100% 100%;
}

#water-panel-background {
  background: url("../images/water-background.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100% 100%;
}

.resource-div-effects {
  max-width: 300px;
  height: 15%;
  :hover {
    cursor: pointer;
    img {
      opacity: 0.7;
    }
  }
  @media (max-width: $screen-md) {
    display: inline-block;
  }
}

#resource-panel-column {
  //margin-top: 30px;
  max-height: 10%;
}

#building-display-panel{
 // margin-top: 30px;
  height: 100%;
}

#electricity-panel-background {
  background: url("../images/electricity-background.png");
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#gas-panel-background {
  background: url("../images/gas-background.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100% 100%;
}

#water-panel-background {
  background: url("../images/water-background.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100% 100%;
}

#hoverable {
  :hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

#detailed-toggle {
  margin-top: 20px;
}

#display-apply {
  margin-top: 20px;
  float: right;
}

#date-detail-controls
{
  margin-top: .05%;
}

#detailed-toggle-wrapper {
  border-right: thin solid $gray; //gives us a separator
  height: 70px;
}
