#building-filter {
  div {
    display: table-row;
    .form-group {
      display: table-cell;
      width: 100%;
    }
    .btn-group {
      display: table-cell;
      width: 100%;
    }
  }
  margin-bottom: 15px;
}

#building-list-panel{
  height: 25%;
}

#building-scroll {
  overflow-x: hidden !important;
  overflow-y: auto;
  height: 367px;
}

#graph-alignment {
  width:100%;
}

#tip-panel{
  outline: none;
}

#knobs {
  margin: -15px auto 0 auto;
}

#knob-header {
  margin: 20px 0 10px 0;

  > span {
    display: inline-block;
    font-size: 24px;
  }
}

#building-type-graph-header {
  margin: 20px 0 0 20px;
}

.checked-list-item {
  display: table;
  width: 100%;
  span {
    display: table-cell;
    width: auto;
  }
  a {
    display: table-cell;
    width: 100%;
  }
}

#comparison-close {
  position: absolute;
  float: left;
  z-index: 1;
}

.tips-body {
  height: 161px;
}
