.comp-list {
  height: 535px;
}

#tab-op .nav-tabs li a{
  height: 52px;
}

.comp-action-buttons{
  width: 100%;
}

#action-footer{
  padding-left: 2%; //fixes spacing
  div {
    width: 32%;
    display: inline-block;
  }
  //only immediate child
  > :nth-child(2) {
    padding: 0 10px 0 10px;
  }
}

.comp-modal-footer-buttons{
  //margin-left: 5%;
  width: 15%;
}

.login-modal-footer-buttons{
  width: 31%;
}

.signup-modal-footer-buttons{
  width: 31%;
}

#create-comp-info-table-row{
   width: 50%;
 }

#create-comp-building-list{
  margin-top: 23px;
}

#create-comp-info{
  margin-right: 3%;
}

#create-comp-body {
  margin-left: 1%;
  margin-right: 1%;
}

#building-list-comp{
  float: right;
}

#resource-dropdown{
  width: 150px;
}

#building-list {
  background-color: transparent;
  margin-bottom: 20px;
  margin-outside: 20px;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(255, 255, 255, 1)!important;
}

.panel-transparent .panel-body{
  background: rgba(255, 255, 255, 0.8)!important;
}

#top-name {
  width: 50%;
  margin: 0 auto;
}

#top-building{
  background-color: gold;
  margin-top: 2%;
  height: 100%;
  width: 100%;
}

#mid-building {
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;
}

#bottom-building{
  background-color: sandybrown;
  height: 100%;
  width: 100%;
}
