#comp-list {
  background-color: transparent;
}

.scroll {
  overflow-x: hidden !important;
  overflow-y: auto;
  height: 400px;
}

.nav-tabs li a{
  height: 52px;
}

.comp-action-buttons{
  width: 100%;
}

#action-footer{
  padding-left: 2%; //fixes spacing
  div {
    width: 32%;
    display: inline-block;
  }
  //only immediate child
  > :nth-child(2) {
    padding: 0 10px 0 10px;
  }
}

.comp-modal-footer-buttons{
  //margin-left: 5%;
  width: 15%;
}

.login-modal-footer-buttons{
  width: 48%;
}

#create-comp-info-table-row{
   width: 50%;
 }

#create-comp-building-list{
  margin-top: 23px;
}

#create-comp-info{
  margin-right: 3%;
}

#create-comp-body {
  margin-left: 1%;
  margin-right: 1%;
}

#building-list-comp{
  float: right;
}

#resource-dropdown{
  width: 150px;
}

#building-list {
  background-color: transparent;
  margin-bottom: 20px;
  margin-outside: 20px;
}

#building-list-panel{
  height: 25%;
}
