//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Space out content a bit
body {
  padding-bottom: 20px;
  //background-color: #444444;
}

/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 10px 0 10px 0;
  background-color: transparent;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

#gu-icon {
  max-height: 60px;
  max-width: 538px;
  height: auto;
  width: 50%;
}

#main{
  margin-top: 15px;
}

//for compatability warning
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
