@import "bootstrap/bootstrap";
@import "buildingSelector";
@import "buildingDisplay";
@import "compDisplay";

//main app body (everything not header)
body {
  padding-bottom: 20px;
  background-color: $gray;
}

#navbar {
  padding-left: 15px;
  padding-right: 15px;
  .navbar-brand {
    @media (max-width: 400px) {
      width: 10%;
      padding-top: 10px;
    }
  }
}

#gu-icon {
  float: left;
  height: 60px;
}

#main{
  margin-top: 75px; //separate nav from main views
}

.clickable {
  cursor: pointer;
}

.panel-shadow {
  box-shadow: 0 0 50px #CCCCCC;
}

//change color of toggle switch
.switch-left {
  background: $brand-primary !important;
}

//for compatability warning
.browsehappy {
  margin: 0.2em 80px;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
