<div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-shadow" id="building-list-panel">
        <div class="panel-heading">Campus Building Select</div>

        <div class="panel-body">
          <div id="building-filter">
            <div>
              <div class="form-group">
                <input type="search" class="form-control" placeholder="Search" ng-model="searchInput"
                       ng-change="filterBuildingsBySearch()">
              </div>
              <div class="btn-group" dropdown>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button" data-toggle="dropdown">
                  Type
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-repeat="type in buildingTypes">
                    <a ng-click="filterBuildingsByType(type.buildingTypeId)">{{type.buildingType}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="building-scroll" class="scroll">
            <div id="building-list" class="list-group">
              <div class="checked-list-item" ng-repeat="building in filteredBuildings">
                <span class="input-group-addon" ng-show="compareEnabled">
                  <input type="checkbox" ng-model="checkedBuildings[building.id]"/>
                </span>
                <a class="list-group-item" ng-class="{active: checkedBuildings[building.id], clickable: !compareEnabled}"
                   ng-click="selectBuilding($index)">
                  {{building.name}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button id="comparison-close" class="btn btn-danger" ng-show="compareEnabled" ng-click="disableComparison()"><i class="fa fa-remove"></i></button>
          <button class="btn btn-block" ng-class="{'btn-default': !compareEnabled, 'btn-primary': compareEnabled}"
                  ng-disabled="!comparisonSelectable()" ng-click="comparisonSelect()">{{comparisonText}}</button>
        </div>
      </div>

      <div class="panel panel-default panel-shadow" id="tip-panel">
        <div class="panel-heading">Energy Saving Tips</div>
        <div class="panel-body">
          <tabset justified="true" type="pills">
            <tab heading="Electricity">
              <ol>
                <li>Set refrigerators at 38 to 42 degrees Fahrenheit and freezers between 0 and 5 degrees Fahrenheit. Make sure the doors seal tightly.</li>
                <li>Unplug chargers when they’re not charging, they draw energy whenever they’re plugged in.</li>
                <li>Turn off lights when leaving a room for more than five minutes.</li>
              </ol>
            </tab>
            <tab heading="Gas">
              <ol>
                <li>Gas tip #1</li>
                <li>Gas tip #2</li>
                <li>Gas tip #3</li>
              </ol>
            </tab>
            <tab heading="Water">
              <ol>
                <li>Limit your shower time and use hot water sparingly.</li>
                <li>Water tip #2</li>
                <li>Water tip #3</li>
              </ol>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="col-md-9" id="graph-panel">
    <div ng-controller="SummaryCtrl">
      <div class="panel panel-default panel-shadow" id="graph-alignment">
        <div class="panel-heading">Where Does Our Energy Go?</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <nvd3 options='pieOptions' data='pieData' api="pieApi" config="{refreshDataOnly: true}"></nvd3>
            </div>
            <div class="col-sm-8">
              <nvd3 options='barOptions' data='barData' api="barApi" config="{refreshDataOnly: true}"></nvd3>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
