<html>
<body>
<div id="background" class="home-background">
  <div>
    <h3 aria-orientation="horizontal">
      <img id="gu-icon" src="images\energy-dashboard-title-icon.png" alt="some_text"
           align="middle"/>

      <div id="pills">
        <ul class="nav nav-pills pull-right">
          <li ng-class="{active: isActive('/')}"><a ng-href="#">Home</a></li>
          <li ng-class="{active: isActive('/')}"><a ng-href="#/test">Competitions</a></li>
          <li ng-class="{active: isActive('/')}"><a ng-href="#/test">Tips</a></li>
        </ul>
      </div>
    </h3>
  </div>

  <div id="search" class="form-group">
    <input type="search" class="form-control" placeholder="Search" ng-model="searchInput"
           ng-change="filterBuildings()">
  </div>

  <div id="building-scroll" class="scroll">
    <div id="building-list" class="list-group">
      <a ng-repeat="building in filteredBuildings" class="list-group-item" href="{{'#/buildings/' + building}}"
         ng-click="selectBuilding($index)">
        {{building}}
      </a>
    </div>
  </div>
  <div>
    <tabset vertical="false" type="pills">
      <tab heading="Vertical 1">Vertical content 1</tab>
      <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>
  </div>
</div>
</body>
</html>

