<html>
<body>
<div id="background" class="home-background">
  <div>
    <h3 aria-orientation="horizontal">
      <img id="gu-icon" src="images\energy-dashboard-title-icon.png" alt="some_text"
           align="middle"/>

      <div id="pills">
        <ul class="nav nav-pills pull-right">
          <li ng-class="{active: isActive('/')}"><a ng-href="#">Home</a></li>
          <li ng-class="{active: isActive('/')}"><a ng-href="#/test">Competitions</a></li>
          <li ng-class="{active: isActive('/')}"><a ng-href="#/test">Tips</a></li>
        </ul>
      </div>
    </h3>
  </div>

  <div id="search" class="form-group">
    <input type="search" class="form-control" placeholder="Search" ng-model="searchInput"
           ng-change="filterBuildings()">
  </div>

  <div id="building-scroll" class="scroll">
    <div id="building-list" class="list-group">
      <a ng-repeat="building in filteredBuildings" class="list-group-item" href="{{'#/buildings/' + building.name}}"
         ng-click="selectBuilding($index)">
        {{building.name}}
      </a>
    </div>
  </div>

  <div class="tabs">
    <ul class="tab-links">
      <li class="active"><a href="#tab1">Electricity</a></li>
      <li><a href="#tab2">Water</a></li>
      <li><a href="#tab3">Gas</a></li>
    </ul>

    <div id="tab-text" class="tab-content">
      <div id="tab1" class="tab active">
        <p>Electricity Tip #1</p>
        <p>Electricity Tip #2</p>
        <p>Electricity Tip #3</p>
      </div>

      <div id="tab2" class="tab">
        <p>Water Tip #1</p>
        <p>Water Tip #2</p>
        <p>Water Tip #3</p>
      </div>

      <div id="tab3" class="tab">
        <p>Gas Tip #1</p>
        <p>Gas Tip #2</p>
        <p>Gas Tip #3</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>

