<div class="panel panel-default panel-shadow">
  <div class="panel-heading">{{selectedBuilding.name}} Energy Usage</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <div id="toggles">
          <img src="images/WATERbaby.png" ng-click="selectResource(7)">
          <img src="images/ELECTRICbaby.png" ng-click="selectResource(2)">
          <img src="images/FIREbevel.png" ng-click="selectResource(3)">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <span us-spinner spinner-key="spinner" spinner-start-active="true"></span>
          <div class="col-sm-2">
            <label id="detailed-toggle" popover="Helpful for looking at large data sets" popover-trigger="mouseenter" popover-placement="bottom">
              <toggle-switch model="isDetailed" ></toggle-switch>
              Detailed View
            </label>
          </div>
          <div class="col-sm-4">
            <span>From</span>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd/MMMM/yyyy" ng-model="date1" is-open="dateOpen1"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event, 1)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <span>To</span>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd/MMMM/yyyy" ng-model="date2" is-open="dateOpen2"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event, 2)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-sm-2">
            <button id="display-apply" type="button" class="btn btn-primary" ng-click="applyGraphOptions()">
              Apply
            </button>
          </div>
        </div>
        <div class="row">
          <div id="graph">
            <nvd3 options='options' data='data' api="api"></nvd3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

