<div class="panel panel-default" id="building-display-panel">
  <div class="panel-heading">{{selectedBuilding.name}} Energy Usage</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <div id="toggles">
          <img src="images/WATERbaby.png" ng-click="selectResource(18)">
          <img src="images/ELECTRICbaby.png" ng-click="selectResource(2)">
          <img src="images/FIREbevel.png" ng-click="selectResource(3)">
        </div>
      </div>
      <span us-spinner>
      <div class="col-md-10">
        <div id="graph">
          <nvd3 options='options' data='data' api="api"></nvd3>
        </div>
      </div>
      </span>


    </div>
  </div>
</div>
