<div class="panel panel-default" id="building-display-panel">
  <div class="panel-heading">{{selectedBuilding.name}} Energy Usage</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <div id="toggles">
          <img src="images/WATERbaby.png" ng-click="selectResource(7)">
          <img src="images/ELECTRICbaby.png" ng-click="selectResource(2)">
          <img src="images/FIREbevel.png" ng-click="selectResource(3)">
        </div>
      </div>
      <div class="col-md-10">
        <div id="graph">
          <label>
            <toggle-switch on-change="toggleDetailed()"></toggle-switch>
            Detailed View
          </label>
          <nvd3 options='options' data='data' api="api"></nvd3>
        </div>
      </div>

    </div>
  </div>
</div>
