<div class="row-md-12">
  <div class="col-md-4">
    <div class="panel panel-default" id="comp-list-panel">
      <div class="panel-heading">Competition Select</div>

      <div class="panel-body">
        <div id="building-search" class="form-group">
          <input type="search" class="form-control" placeholder="Search" ng-model="searchInput"
                 ng-change="filterComps()">
        </div>
        <div id="comp-scroll" class="scroll">
          <div id="comp-list" class="list-group">
            <a ng-repeat="competiton in filteredComps" class="list-group-item" ng-click="selectComp($index)">
              {{competiton[0]}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default" id="current-comp-panel">
      <div class="panel-heading">Competition Info</div>
      <div class="panel-body">
        <div id="current-comp-scroll" class="scroll">
          <div id="current-comp-list" class="list-group">
            <div class="col-md-3">
              <h1>
                {{filteredComps[displayedCompIndex][0]}}<br><br>
              </h1>

              <h3>
                Buildings: {{filteredComps[displayedCompIndex][1]}}, {{filteredComps[displayedCompIndex][2]}}
              </h3>

              <h3>
                Contested Resource: {{filteredComps[displayedCompIndex][3]}}
              </h3>

              <h3>
                Start Date: {{filteredComps[displayedCompIndex][4]}}
              </h3>

              <h3>
                End Date: {{filteredComps[displayedCompIndex][5]}}
              </h3>

              <div ng-controller="CreateModalCtrl">
                <script type="text/ng-template" id="myModalContent1.html">
                  <div ng-include src="'views/CreateCompDisplay.html'"></div>
                </script>
                <div>
                  <button class="btn btn-default comp-action-buttons" ng-click="open('lg')">Create</button>
                </div>
              </div>

              <div ng-controller="EditModalCtrl">
                <script type="text/ng-template" id="myModalContent2.html" >
                  <div ng-include src="'views/EditCompDisplay.html'"></div>
                </script>
                <div>
                  <button class="btn btn-default comp-action-buttons" ng-click="open('lg')">Edit</button>
                </div>
              </div>

              <div ng-controller="DeleteModalCtrl">
                <script type="text/ng-template" id="myModalContent3.html">
                  <div ng-include src="'views/DeleteCompDisplay.html'"></div>
                </script>
                <div>
                  <button class="btn btn-default comp-action-buttons" ng-click="open()">Delete</button>
                </div>
              </div>

            </div>
            <div class="col-md-8" id="graph">
              <div>
                <nvd3 options='options' data='data' api="api"></nvd3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

