<div>
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body" id="create-comp-body">
    <table style="width:100%">
      <tr valign="top">
        <td id="create-comp-info-table-row" rowspan="2">
          <div id="create-comp-info">
            <div>
              <label>Competition Name</label>
            </div>
            <div>
              <input type="text" ng-model="name" class="form-control">
            </div>
            <div>
              <label>Start Date</label>
            </div>
            <div ng-controller="DatepickerDemoCtrl">
              <p class="input-group">
                <input class="form-control" datepicker-popup="{{format}}" ng-model="startDate"
                       is-open="opened" min-date="minDate" max-date="'2060-06-22'"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                       close-text="Close" ng-change="saveDate(startDate, true)"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                  class="fa fa-calendar"></i></button>
              </span>
              </p>
            </div>
            <div>
              <label>End Date</label>
            </div>
            <div ng-controller="DatepickerDemoCtrl">
              <p class="input-group">
                <input class="form-control" datepicker-popup="{{format}}" ng-model="endDate"
                       is-open="opened" min-date="minDate" max-date="'2060-06-22'"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                       close-text="Close" ng-change="saveDate(endDate, false)"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                  class="fa fa-calendar"></i></button>
              </span>
              </p>
            </div>
          </div>
        </td>
        <td>
          <div id="building-scroll" class="scroll">
            <div id="building-list" class="list-group">
              <div class="checked-list-item" ng-repeat="building in filteredBuildings">
                <span class="input-group-addon" ng-show="true">
                  <input type="checkbox" ng-model="checkedBuildings[building.id]"/>
                </span>
                <a class="list-group-item"
                   ng-class="{active: checkedBuildings[building.id], clickable: false}"
                   ng-click="selectBuilding($index)">
                  {{building.name}}
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>


  </div>
  <div class="modal-footer">
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="ok(name, startDate, endDate)">OK</button>
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="cancel()">Cancel</button>
  </div>
</div>
