<div ng-controller="DeleteModalCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Delete Current Competition</h3>
  </div>
  <div class="modal-body" id="create-comp-body">
    <h2>
      Would you like to delete this competition?
    </h2>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="okButton()">OK</button>
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="cancelButton()">Cancel</button>
  </div>
</div>


