<div>
  <div class="modal-header">
    <h3 class="modal-title">User Login</h3>
  </div>
  <div class="modal-body" id="create-comp-body">
    <div>
      <label>Student ID</label>
    </div>
    <div>
      <input type="text" ng-model="studentID" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="ok()">Login</button>
    <button class="btn btn-default comp-modal-footer-buttons" ng-click="cancel()">Cancel</button>
  </div>
</div>


